{% extends "layout.html" %}
{% block title %}Bands{% endblock %}
{% block content %}
<br/>
<h4>Current band members are displayed in green</h4>
<table class="table table-bordered">
    <thead class="thead-dark">
    <tr>
        <th>Artist</th>
        <th>Band</th>
    </tr>
    </thead>
    <tbody>
    {% for artist in artists %}
    <tr class="{{'table-success' if 'isMemberOf' in artist['predicate'].value}}">
        <td about={{artist["artist"].value}}>
            <span property="foaf:name">
                {{artist["artistname"].value}}
            </span>
            <span rel={{artist["predicate"].value}}>
                <span resource={{artist["band"].value}}></span>
            </span>
        </td>
        <td about={{artist["band"].value}}><span property="foaf:name">{{artist["bandname"].value}}</span></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}