{% extends "layout.html" %}
{% block title %}Bands{% endblock %}
{% block content %}
<br/>
{% for band in bands %}
<div class="card" style="width: 18rem;" about="{{band['band'].value}}">
    <img class="card-img-top" src={{band["logo"].value}} alt="Band logo">
    <div class="card-body">
        <span property="foaf:name">
        <h5 class="card-title">{{band["name"].value}}</h5>
        </span>
        <span rel=":style">
            <span resource={{band["style"].value}}>
                <p class="card-text">Genre: <span property="dc:title">{{band["stylename"].value}}</span></p>
            </span>
        </span>
    </div>
</div>
<br/>
{% endfor %}

{% endblock %}